---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";

const recentPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3);
---

<Layout title="Welcome">
  <section class="mb-8">
    <h2 class="text-6xl font-bold mb-4">Hi, I'm Carson</h2>
    <p class="mb-4">
      I'm a web developer and hobby photographer based in Canada. I enjoy
      building things for the web and capturing the world through a lens.
    </p>
    <div class="flex gap-4">
      <Button as="a" href="/photos" class="w-[50%] md:w-auto text-center">
        My Photos
      </Button>
      <Button as="a" href="/blog" class="w-[50%] md:w-auto text-center">
        My Blog
      </Button>
    </div>
  </section>

  <section class="mb-8">
    <h2 class="text-2xl font-bold mb-2">Recent Photos</h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2 mb-6">
      {
        [1, 2, 3, 4, 5, 6].map((i) => (
          <a href="#">
            <img
              src={`https://placehold.co/400x400?text=Photo+${i}`}
              alt={`Photo ${i}`}
              class="w-full aspect-square object-cover rounded"
            />
          </a>
        ))
      }
    </div>
    <Button as="a" href="/photos">View all photos</Button>
  </section>

  <section>
    <h2 class="text-2xl font-bold mb-2">Recent Posts</h2>
    <ul class="space-y-4 mb-4">
      {
        recentPosts.map((post) => (
          <li>
            <a href={post.data.url} class="font-bold underline">
              {post.data.title}
            </a>
            <p class="text-sm text-zinc-500">
              {post.data.date.toLocaleString("default", {
                month: "short",
                day: "numeric",
                year: "numeric",
                timeZone: "UTC",
              })}
            </p>
            {post.data.description && (
              <p class="mt-1">{post.data.description}</p>
            )}
          </li>
        ))
      }
    </ul>
    <div>
      <Button as="a" href="/blog">More posts</Button>
    </div>
  </section>
</Layout>
