---
import { Image, getImage } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import { Icon } from "astro-icon/components";

import "@/styles/global.css";
import NavLink from "@/components/NavLink.astro";
import avatar from "@/assets/avatar.jpg";
import bg from "@/assets/bg.jpg";
import {
  SITE_TITLE,
  SITE_SUBTITLE,
  GITHUB_URL,
  INSTAGRAM_URL,
  GA_TRACKING_ID,
} from "@/constants";

const { title = "Welcome", description = "", keywords = "" } = Astro.props;
const { pathname } = Astro.url;
const optimizedBg = await getImage({ src: bg, format: "avif", quality: "low" });
---

<!doctype html>
<html
  transition:animate="none"
  lang="en"
  class="bg-zinc-50 text-zinc-600 h-full scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon-192x192.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <ClientRouter />
  </head>
  <body class="flex flex-col h-full">
    <header
      class="site-header md:fixed w-full md:w-[30%] lg:w-[35%] md:h-full flex flex-col items-center lg:items-end p-4 md:py-20 md:px-6 lg:py-30 lg:px-10 xl:py-40 xl:px-20 text-center lg:text-right text-zinc-300"
    >
      <a href="/">
        <Image
          src={avatar}
          format="avif"
          quality="medium"
          alt="Avatar"
          decoding="async"
          loading="eager"
          class="avatar rounded-full w-[150px]"
        />
      </a>
      <h1 class="text-inherit text-2xl lg:text-5xl my-4 lg:mb-8">
        {SITE_TITLE}
      </h1>
      <p class="lg:ml-12">{SITE_SUBTITLE}</p>
      <nav class="mt-5 md:mt-10 py-5 text-right">
        <NavLink href="/" isActive={pathname === "/"}>Home</NavLink>
        <NavLink href="/blog" isActive={pathname.startsWith("/blog")}
          >Blog</NavLink
        >
        <NavLink href="/contact" isActive={pathname === "/contact"}
          >Contact</NavLink
        >
      </nav>
      <footer class="hidden md:flex md:flex-col lg:flex-row mt-auto">
        <span class="md:mb-4 lg:mb-0">&copy; Carson Evans</span>
        <span>
          <a href={GITHUB_URL} class="md:ml-0 lg:ml-4">
            <Icon
              title="Github"
              name="fa7-brands:github"
              size="1.5rem"
              class="inline"
            />
          </a>
          <a href={INSTAGRAM_URL} class="ml-4">
            <Icon
              title="Instagram"
              name="fa7-brands:instagram"
              size="1.5rem"
              class="inline"
            />
          </a>
          <!-- <a href="/blog/feed.xml" class="ml-4">
            <Icon
              title="RSS"
              name="fa7-solid:rss"
              size="1.5rem"
              class="inline"
            />
          </a> -->
        </span>
      </footer>
    </header>
    <main
      transition:animate="fade"
      class="site-content md:ml-[30%] lg:ml-[35%] md:w-[70%] lg:w-[65%] max-w-4xl py-10 xl:py-40 md:py-20 lg:py-30 px-5 md:px-10 lg:px-20"
    >
      <slot />
    </main>
    <footer
      class="bottom-footer mt-auto px-4 py-12 md:hidden text-center text-zinc-300"
    >
      <a href={GITHUB_URL} class="ml-4">
        <Icon
          title="Github"
          name="fa7-brands:github"
          size="2rem"
          class="inline"
        />
      </a>
      <a href={INSTAGRAM_URL} class="ml-4">
        <Icon
          title="Instagram"
          name="fa7-brands:instagram"
          size="2rem"
          class="inline"
        />
      </a>
      <!-- <a href="/blog/feed.xml" class="ml-4">
        <Icon title="RSS" name="fa7-solid:rss" size="2rem" class="inline" />
      </a> -->
      <div class="mt-4">&copy; Carson Evans</div>
    </footer>
    <div id="background" data-src={optimizedBg.src}></div>
  </body>
</html>
<style define:vars={{ bgUri: `url(${optimizedBg.src})` }}>
  .site-header {
    background-position: 0;
    background-attachment: scroll;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bgUri);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }

  .bottom-footer {
    background-position: 0;
    background-attachment: scroll;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--bgUri);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
</style>
<script
  async
  src={`https://www.googletagmanager.com/gtag/js?id=${GA_TRACKING_ID}`}
></script>
<script define:vars={{ GA_TRACKING_ID }}>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", GA_TRACKING_ID);
</script>
